{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["babel", "react", "promise"],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__API_PATH__": false,
    "__GRAPHQL_PATH__": false,
    "__PLATFORM__": false,
    "__FINDIFY__": false,
    "ga": false,
    "Pace": false,
    "Raven": false
  },
  "rules": {
    "camelcase": 0,
    "key-spacing": 0,
    "jsx-quotes": [2, "prefer-single"],
    "max-len": 0,
    "space-before-function-paren": 0,
    "eqeqeq": 0,
    "react/prop-types": 0,
    "no-useless-escape": 0
  }
}
