$drpSize:(1:2, 2:2, 3:2);

@function image($url, $size, $type){
  @return url("#{$url}@#{$size}x.#{$type}");
}

// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/

// rem = $psValue * $divide / $pswWidth
// realvalue = rem * 1rem
@mixin toRem($property, $values...) {
  $max: length($values);
  $remValues: '';
  @for $i from 1 through $max {
    $value: nth($values, $i) * $divide / $pswWidth;
    $remValues: #{$remValues + $value}rem;
    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }
  #{$property}: $remValues;
}

$maxWidth: 100%;
$maxSize: 100% 100%;
@mixin backgroundImage($target, $img, $type, $background-size:$maxSize) {
  @each $drp, $size in $drpSize {
    html.dpr#{$drp} #{$target}{
      background-image: image($img, $size, $type);
      background-repeat: no-repeat;
      background-size: $background-size;
    }
  }
}
