@import 'base';
@import "./common";
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;
  color: #333;
  font-size: 14px;
}

a, img {
  -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
  text-decoration:none;
}

html, body {
  -webkit-user-select: none; /*禁止选中文本*/
  user-select: none;
}

button,input,optgroup,select,textarea {
  -webkit-appearance:none; /*去掉webkit默认的表单样式*/
}

a,button,input,optgroup,select,textarea {
  -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}

input::-webkit-input-placeholder {
  color:#ccc; /*修改webkit中input的planceholder样式*/
}

input:focus::-webkit-input-placeholder {
  /*修改webkit中focus状态下input的planceholder样式*/
}

body {
  -webkit-text-size-adjust: 100%!important; /*禁止IOS调整字体大小*/
}

input::-webkit-input-speech-button {
  display: none; /*隐藏Android的语音输入按钮*/
}

ul,li{list-style:none;}
i{font-style: inherit;}
h1,h2{ font-weight:normal;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, button{padding:0;margin:0;font-weight: normal;}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a{
  color:#07c;
  text-decoration: none;
  &:hover{
    color:#3af;
    text-decoration: none;
  }
}
