.scroll-container{
  .scroll-view{
    .scroll-tab-y2-sub{
      display: block;
      text-align: center;
      width: 100%;
    }
    .scroll-tab-y2-par{
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}
