@charset "utf-8";
@base_color: #444444;
@empty_color: #fff;
@base_bg_color: #fff;
@base_size: 14px;
@second_color: #999999;
@second_bg_color: #f5f5f5;
@select_bg_color: #e5e5e5;
@small_size: 12px;
@shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
@border: 1px solid #e1e1e1;
@light_color: #777777;
@holder_color: #bbbbbb;
@theme_color: rgb(24, 144, 255);
@theme_shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
@theme_second_color: rgb(230, 247, 255);
@error_bg_color: #fff1f0;
@error_color: #f5222d;
@error_shadow: 0 0 0 1px #f85a62;
@magenta: #fff0f6;
@red: #fff1f0;
@volcano: #fff2e8;
@orange: #fff7e6;
@gold: #fffbe6;
@lime: #fcffe6;
@green: #f6ffed;
@cyan: #e6fffb;
@blue: #e6f7ff;
@geekblue: #f0f5ff;
@purple: #f9f0ff;